build

.vscode
.idea
*.iml
__debug*

CLAUDE.local.md

./travel-token-messenger-bot-supplier.yaml
./travel-token-messenger-bot-distributor.yaml

ttm-config
distributor-bot-db
supplier-bot-db

coverage.out
bin
*.crt
*.key
*.log
